{% extends "base.html" %}

{% block content %}
    {% include "navigation.html" %}
    <div>
       <canvas id="myChart">

       </canvas>
    </div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const labels = {{ labels|safe }}

  const data = {
    labels: labels,
    datasets: [{
      label: 'Trending Coins of 7 days',
      backgroundColor: 'blue',
      borderColor: 'blue',
      data: {{ chartData|safe }},
    }]
  };

  const config = {
    type: 'line',
    data: data,
    options: {}
  };
  const myChart = new Chart(
    document.getElementById('myChart').getContext("2d"),
    config
  );
</script>
{% include "footer.html" %}
{% endblock %}

