{% extends 'base.html' %}

{% block content %}
    <footer class="bg-dark text-center text-white vh-50">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/CryptoTracker03" target="_blank" role="button"
        ><i class="fab fa-twitter"></i
      ></a>


      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/cryptotracker03/" target="_blank" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/cryptotracker/" target="_blank" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->

    <!-- Section: Form -->



    <!-- Section: Links -->
    <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Disclaimer
          </h6>
          <p>
            Crypto Trading is subject to maret risk. Please make all investments carefully.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            About Us
          </h6>
          <p>
            <a href="{% url 'CryptoApp:index' %}" class="text-reset" target="_blank">Home</a>
          </p>
          <p>
            <a href="{% url 'CryptoApp:chart' %}" class="text-reset" target="_blank">Trending</a>
          </p>
          <p>
            <a href="#" class="text-reset">Career</a>
          </p>
          <p>
            <a href="#" class="text-reset"></a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="https://public.tableau.com/views/PriceChange24H/PriceChange24H?:language=en-US&publish=yes&:display_count=n&:origin=viz_share_link" target="_blank" class="text-reset">PriceChange24H</a>
          </p>
          <p>
            <a href="https://public.tableau.com/views/PercentPriceChange24H/PercentPriceChange24H?:language=en-US&publish=yes&:display_count=n&:origin=viz_share_link" target="_blank" class="text-reset">Percent Price Change 24H</a>
          </p>
          <p>
            <a href="https://public.tableau.com/views/MarketCap_16489394266110/MarketCap?:language=en-US&publish=yes&:display_count=n&:origin=viz_share_link" target="_blank" class="text-reset">Market Cap 24H</a>
          </p>
          <p>
            <a href="https://public.tableau.com/views/ReturnOnInvestment/ReturnOnInvestment?:language=en-US&publish=yes&:display_count=n&:origin=viz_share_link" target="_blank" class="text-reset">Return on Investment</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> 2292 Union Street, Windsor N9B 1L8</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            cryptotracker03@gmail.com
          </p>
            <p><i class="fas fa-phone me-3"></i> +1 (226) 724 3131</p>
          <p><i class="fas fa-print me-3"></i> +1 (226) 724 3132</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">Group 3</a>
  </div>
  <!-- Copyright -->
</footer>
{%  endblock %}